/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}
.navbar {    
     padding: .1rem .1rem; 
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
    width: 90%;
    max-width: 90%;
    padding: 0px!important;
}

.navigation-wrap {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}