/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

.navbar {    
     padding: .1rem .1rem; 
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
    width: 90%;
    max-width: 90%;
    padding: 0px!important;
}

.navigation-wrap {
       box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%);
}

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 5px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


img {
    /*width: 68%;*/
    margin: auto;
    display: block;    
}


.ml-2 btn .btn-danger .text-white .px-3 {
    background: #F24E1E;
}
